name: coachingapp
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  http: ^1.6.0
  riverpod: ^3.0.3
  flutter_riverpod: ^3.0.3
  shared_preferences: ^2.3.2
  flutter:
    sdk: flutter



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/